.venv
**/settings/
Database/*.csv
__pycache__
Frontend/my-app/public/assets/
.env*
node_modules
/Frontend/src/assets/
/Database/backup
/Backend/logs/
/Backend/scrapers/vn_daily_scrap/service/build
/Backend/scrapers/vn_daily_scrap/service/dist
/Frontend/.vite
upload_images.py
dev_*.py
