.TableContainer {
    position: relative;
}

.FormOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.FormContainer {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position:relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Add a max-width to keep the form at a reasonable size */
    width: 100%;
}

.FormContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Allow the form content to grow and take available space */
}

.CloseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    /* align-self: flex-end;
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 10px; */
}

.FormContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Allow the form content to grow and take available space */
}

.FormGrid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    flex-grow: 1;
}

.FormItem {
    display: flex;
    flex-direction: column;
}

.FormItem label {
    margin-bottom: 5px;
}

.FormItem input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.FormImage {
    display: flex;
    justify-content: center;
}

/* Images */
.img-png, .img-jpg {
    width: 100%; /* Make the images responsive */
    max-width: 650px; /* Limit the max-width to maintain aspect ratio */
}

.SubmitButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.SubmitButton {
    background: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

