/* RefreshButton.css */
.refresh-button {
    background-color: transparent;
    border: none;
    color: #000; /* Change this color to whatever you prefer */
    padding-left: 5px;
    padding-top: 5px;
    font-size: 5px;
    cursor: pointer;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.refresh-button .fa-sync-alt {
    font-size: 24px;
}
